:root {
  /*
  Consider -light as -hover
  TODO rename it ?
  */
  --color-primary: #00795a;
  --color-primary-50: #00795a88;
  --color-primary-light: #405f58;
  --color-secondary: #e91e63;
  --color-secondary-light: #be134d;

  --color-discover: rgba(153, 214, 234, 0.5);

  --color-sites-filter-txt-hover: #fff;
  --color-sites-filter-bg-hover: var(--color-primary-light);
  --color-sites-filter-txt-active: #fff;
  --color-sites-filter-bg-active: var(--color-primary);

  --page-container-min-height: calc(100vh - 415px);
}

.custom-footer {
  border-top: 1px solid #ccc;
}

.page-sites .custom-footer {
  display: none;
}

.page-gallery .custom-footer {
  display: none;
}

.page-home .custom-footer {
  margin-top: 0 !important;
}