
{% extends "layout.jinja" %}
{% set active_page = 'about' %}

{% block title %}À PROPOS{% endblock %}
{% block bodyClassNames %}page-about{% endblock %}

{% block content %}

<html>
<head>
<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
<style>
.accordion {
  background-color: #4A756C;
  color:  #FFFFFF;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  margin-top: 1em;
  text-align: left;
  border-radius: 8px;

}

.g {
  font-weight:bold;
  color:#4A756C;
}

.ul1 {
  list-style: none;
  list-style-position: inside;
}

.ul1 li:before {
  content: "\2714\0020";
  color:#4A756C;  
}

    
p { 
  margin: 1em;
  text-align: justify;
  font-style: normal;
}

.active, .accordion:hover {
  background-color: #92aca6; 
}

.panel {
  padding: 0 0px;
  display: none;
  background-color: #FFFFFF;
  overflow: hidden;
  margin-bottom: 1em;
  margin-left: 1em;
}

img.img1 {
  max-height: 300px;
  margin: 1em;
  box-shadow:8px 8px 10px 0 rgba(0,0,0,0.5);
  border-radius: 4px;
}

</style>
</head>
<body>
<div class="container py-4 page-container-min-height">  

    <h1 style="text-align:center;">À PROPOS</h1>      
    
    <h4>Observer l'évolution des paysages</h4>
    
      <p>Un Observatoire Photographique des Paysages est un outil qui permet de suivre l'évolution des paysages à; travers la re-photographie successive dans le temps d'un certain nombre de points de vue sur un territoire donné. Cette veille photographique d'un territoire permet de prendre connaissance de façon sensible, de l'évolution des espaces et en creux, de leurs usages... <br> Cet outil permet également de partager une base commune intuitive favorisant la compréhension des dynamiques paysagères d'un territoire, de ses enjeux, ainsi que de rendre compte des actions menées et servir d'aide à; la décision.</p>
      
      <p>Pour constituer une série photographique d'un Observatoire Photographique du Paysage, une photographie doit ainsi être reconduite à partir d'un meme point de vue, afin d'être comparée aux précédentes et pouvoir suivre l'évolution du site pour engager, si nécessaire, des mesures de préservation. Les points de vue observés sont choisis pour leur représentativité, de manière à couvrir l'ensemble des enjeux du territoire.</p>
      

    <button class="accordion">L'application SIT Géopaysage</button>
    
      <div class="panel">
        <p>Le Système d'Information Territorial est un dispositif mutualisé des parcs naturels régionaux de Provence-Alpes-Côte d'Azur. Sous forme d'un portail cartographique accessible, il rassemble les données produites par les territoires et leurs partenaires. Il organise, capitalise, valorise et confronte ces données pour fournir une aide aux acteurs, décideurs, habitants et visiteurs afin de mieux appréhender nos territoires.</p>
        <p>L'observatoire photographique du Paysages est une application open source (Géopaysages) développée en Décembre 2022 par Natural Solutions.</p>
      </div>
      
    <button class="accordion"><b>L'observatoire photographique du paysage des Alpilles</b></button>
    
      <div class="panel"><p>L'observatoire photographique des paysages des Alpilles est actuellement en cours de création.</p></div>
    
    <button class="accordion">L'observatoire photographique du paysage des Barronies Provençales</button>
    
      <div class="panel"><p>L'observatoire photographique des paysages des Barronies Provençales est actuellement en cours de création.</p></div>
    
    <button class="accordion">L'observatoire photographique du paysage de Camargue</button>
  
      <div class="panel">  
        
        <br>
        <p>L'origine de l'Observatoire photographique du Paysage du Parc naturel régional de Camargue remonte à 1997. Il se fixe comme objectif de suivre l'évolution des paysages et des pratiques sur des lieux stratégiques et représentatifs des spécificités de la Camargue. Les 51 points de vue ont été définis en 2011 ; ils comprennent des clichés anciens et des prises du vue de 2009 et 2001, qui ont fait l'objet d'une exposition prévsentée sur le territoire. Une reconduction de la campagne photographique a été révalisée en 2017. Grace à cet outil, on peut facilement appréhender cette transformation rapide et contemporaine des paysages : elle est perceptible par la simple comparaison des différentes photos prises depuis un site déterminé.</p>
        
        <p>Le paysage de Camargue est un paysage mouvant depuis toujours, soumis aux aléas du fleuve, et plus encore aujourd'hui à l'évvolution rapide du trait de côte. L'au douce et l'eau salée se rencontrent, façonnent leur environnement, tandis que le territoire est toujours plus anthropisé. Le paysage de Camargue se transforme ainsi très rapidement et mérite toute notre attention. Les photos ont été intégrées dans le Système d'Information Territorial accessible en ligne au grand public, et sont visibles également sur un site internet spécifique.</p>
        <br>
        <div style="text-align: center; margin-top: 2em;">
            <img class = "img1" src="http://dynmap.pnrpaca.org/images/about_c_1.jpg">
            <img class = "img1" src="http://dynmap.pnrpaca.org/images/about_c_2.png">
        </div>
      </div>
    
    <br>
    
    <button class="accordion">L'observatoire photographique du paysage du Luberon</button>
    
      <div class="panel">  
      
        <br> 
        <p>L'Observatoire Photographique du Paysage du Luberon a initialement été créé en 2001 et était constitué de 100 points de vue basés pour partie sur des cartes postales anciennes. </p>
        
        <p>En 2019, cet observatoire photographique du paysage a été relancé <text class="g">avec la participation des clubs photographiques du territoire</text> : le club photo de la MJC d'Apt et de Manosque, le club photo de Saignon, Lagnes et Imag'in de Pertuis.<br>
        Ces clubs photos du territoire ont bénéficié d'une formation à la reconduction d'Observatoire Photographique du Paysage préalablement.</p> 
        
        <p>L'Observatoire Photographique du Paysage du PNR du Luberon répond à plusieurs objectifs :
        <ul class="ul1">
          <li>préserver des vues anciennes basées sur les cartes postales datant du XXème siècle,</li>
          <li>représenter la diversité des unités paysagères couvrant le territoire avec une représentativité équilibrée des divers bassins de vie composés de 100 communes, </li>
          <li>rendre compte des actions publiques réalisées et des évolutions conséquentes du paysage (notamment des actions réalisées par le PNR du Luberon tel que le contrat de gestion Natura 2000 sur certains espaces naturels et agricoles,...),  </li>
          <li>mettre en valeur la diversité du paysage sous les 4 saisons</li>
          <li>limiter le nombre de points de vue à reconduire (60)  </li>
          <li>souligner les enjeux du territoire rassemblés autour de 9 axes (évolution des milieux ouverts, du patrimoine arboré, des pratiques agricoles et sylvicoles, des zones humides, des usages du patrimoine géologique, du patrimoine bâti et de pierres sèches, des franges urbaines, des espaces publics et des infrastructures). </li>
        </ul>
        </p>
        
        <p>Cet Observatoire photographique du paysage a pour ambition d'être <text class="g">reconduit tous les 5 ans</text> hormis les sites les plus sensibles aux effets des changements climatiques qui seront reconduits à jour fixe tous les ans.</p> 
    
        <p>Cet outil a fait l'objet d'<text class="g">expositions temporaires</text> pour des publics variés, il a permis la participation des clubs photographiques du territoire et la sensibilisation du grand public aux évolutions du paysage par le biais d'une chasse au trésor organisée sur certains points de vue grâce à l'<text class="g">application géocaching</text> (l'objectif étant de retrouver un objet caché à proximité des points de vue et de reconduire les séries photographiques).</p>
        <br>
        <div style="text-align: center; margin-top: 2em;">
          <img class = "img1" src="http://dynmap.pnrpaca.org/images/about_l_1.jpg">
          <img class = "img1" src="http://dynmap.pnrpaca.org/images/about_l_2.jpg">
        </div>
        <table width="100%">
          <td width="50%"; style="text-align:right; padding-right:8em; color:#4A756C;font-size: 12px;">Formation à la reconduction d'un OPP, Stephane Lehaut</td>
          <td width="50%"; style="text-align:left; padding-left:1.5em; color:#4A756C;font-size: 12px;">Exposition photo dans le cadre du plan de paysage Luberon-Lure, Benjamin Bechet</td>
        </table>
      </div>
    
    <br>
    
    <button class="accordion">L'observatoire photographique du paysage du Mont-Ventoux</button>
    
      <div class="panel"><p>L'observatoire photographique des paysages du Mont-Ventoux est actuellement en cours de création.</p></div>
    
    <button class="accordion">L'observatoire photographique du paysage des Préalpes d'Azur</button>
    
      <div class="panel"><p>L'observatoire photographique des paysages des Préalpes d'Azur est actuellement en cours de création.</p></div>
    
    <button class="accordion">L'observatoire photographique du paysage du Queyras</button>
    
      <div class="panel"> 
        
        <br>
      
        <p>En 2019 le Parc naturel régional du Queyras a mis en place un Observatoire Photographique du Paysage sur son territoire. L'objectif est de constituer une base de données sur les paysages du Queyras et d'observer les dynamiques qui font évoluer nos paysages, qu'elles soient naturelles ou liées à l'homme. Cette base de données pourra également servir d'aide à la prise de décision pour l'aménagement du territoire en constituant un élément de référence, à définir des actions d'intervention et à suivre des modes de gestion.</p>
        
        <p>Cet observatoire se veut thématique, à la fois technique et pédagogique pour le grand public. Ainsi six thématiques représentatives du territoire ont été choisies : coeur de village ; urbanisme et agriculture ; eau et risque ; sites emblématiques ; domaines skiables et zones d'activités ; haute montagne. Un total de 68 points de vue a été défini sur l'ensemble du territoire des communes du Parc.</p>
        
        <p>Le Queyras est photographié depuis longtemps, de nombreux clichés intéressants ont été repérés et seront rephotographiés à l'identique, mais ce n'est pas le cas pour tous les points de vue, de nouveaux lieux ont également été définis en fonction des thématiques et des enjeux à suivre.</p>
        
        <p>Afin d'animer le lancement de cet outil et de sensibiliser le public à la qualité et à la fragilité de nos paysages de montagne, plusieurs actions ont été réalisées l'été et l'automne 2019 : des sorties "observe ton paysage !", un concours photo amateur "un regard sur le paysage" et une exposition "Le Queyras : paysages d'hier, d'aujourd'hui...et demain ?" .</p>
        <br>
        
        <div style="text-align: center; margin-top: 2em;">
            <img class = "img1" src="http://dynmap.pnrpaca.org/images/about_q_1.jpg">
            <img class = "img1" src="http://dynmap.pnrpaca.org/images/about_q_2.jpg">
        </div>
  
        
      </div>

    <br>
    
    <button class="accordion">L'observatoire photographique du paysage de la Sainte-Baume</button>
    <div class="panel">
      <p>L'observatoire photographique des paysages de la Sainte-Baume est actuellement en cours de création.</p>
    </div>
    <br>
    
    <button class="accordion">L'observatoire photographique du paysage du Verdon</button>
    
      <div class="panel"> 
        
        <br>
  
        <p>L'observatoire photographique des paysages du Verdon a été lancé en 2018 et réalisé par l'équipe des Panoramistes. Il constitue le volet paysager de la Trame verte et bleue et il poursuit plusieurs objectifs comme : aider à mesurer les changements en matigère de paysage et d'occupation des sols, sensibiliser les élus et les habitants à l'évolution des paysages, ou encore approcher la question de la biodiversité au travers des paysages vécus.</p>
        
        <p>Pour guider le choix des prises de vues, 15 thématiques représentatives du territoire ont été définies telles que les cours d'eau, les espaces agricoles et leur structures paysagre, la forêt, les silhouettes villageoises, le patrimoine bati vernaculaire, l'étalement urbain, les zones d'activités, les installations photovoltaiques, la fréquentation et les infrastructures touristiques... L'ensemble des unités paysagère du territoire du Verdon ont été couvertes.</p>
        
        <p>L'observatoire des paysages du Verdon est ainsi composé d'un itinéraire photographique de 60 prises de vue qui ont été sélectionnées parmi un panel de 300 photographies.</p>
        
        <p>Depuis, plusieurs reconductions intégrales ou partielles ont été réalisées, action qui devrait être poursuivie dans les prochaines années. Des outils d'animation de l'observatoire seront par ailleurs développés afin de sensibiliser et d'échanger avec les habitants du territoire autour de la qualité des paysages et de leur évolution.</p>
        
        <br>
        
  
  
      </div>
</div>
<script>
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";
    } else {
      panel.style.display = "block";
    }
  });
}
</script>

</body>
</html>
{% endblock %}
