{% extends "layout.jinja" %}
{% set active_page = 'about' %}

{% block title %}About{% endblock %}

{% block bodyClassNames %}page-about{% endblock %}

{% block header_title %}
    <h1>
        About
    </h1>
{% endblock %}

{% block content %}
    Contenue About
{% endblock %}
