{% set data = getFooterData() %}
<footer class="px-4 pt-4 pb-1 bg-white custom-footer">
    <div class="d-flex justify-content-center align-items-start">
        <img src="{{ url_for('static', filename='custom/images/logo_pref_paca.png') }}" style="height:100px;" />
        <img src="{{ url_for('static', filename='custom/images/logo_paca.jpg') }}" class="ml-3" style="height:80px;" />
        
        <img src="{{ url_for('static', filename='custom/images/footer-obs-logo-1.png') }}" class="ml-3" style="width:64px;" />
        <img src="{{ url_for('static', filename='custom/images/footer-obs-logo-2.png') }}" class="ml-3" style="width:64px;" />
        <img src="{{ url_for('static', filename='custom/images/footer-obs-logo-3.png') }}" class="ml-3" style="width:64px;" />
        <img src="{{ url_for('static', filename='custom/images/footer-obs-logo-4.png') }}" class="ml-3" style="width:64px;" />
        <img src="{{ url_for('static', filename='custom/images/footer-obs-logo-5.png') }}" class="ml-3" style="width:64px;" />
        <img src="{{ url_for('static', filename='custom/images/footer-obs-logo-6.png') }}" class="ml-3" style="width:64px;" />
        <img src="{{ url_for('static', filename='custom/images/footer-obs-logo-7.png') }}" class="ml-3" style="width:64px;" />
        <img src="{{ url_for('static', filename='custom/images/footer-obs-logo-8.png') }}" class="ml-3" style="width:64px;" />
        <img src="{{ url_for('static', filename='custom/images/footer-obs-logo-9.png') }}" class="ml-3" style="width:64px;" />
    </div>
    <div class="mt-4 text-center">
        {% include 'components/legal-footer.jinja' %}
    </div>
</footer>