<div class="container-fluid mt-4 px-0 text-center">

    <img class="img-fluid" src="{{ url_for('static', filename='custom/images/courbe.png') }}" />
    
    <div class="bg-white pb-4">
    
        <div class="text-right pr-5">
            <img class="img-fluid" src="{{ url_for('static', filename='custom/images/signature.png') }}" />
        </div>

        <p class="mt-2">L'Observatoire photographique du paysage est une application du système d’information<br/>
        territorial des Parc naturels régionaux de Provence-Alpes-Côte-d’Azur</p>

        <a class="btn btn-primary" href="http://geo.pnrpaca.org">Accéder au site des pnr sud</a>

    </div>

</div>