{% extends "layout.jinja" %}
{% set active_page = 'legal_notices' %}

{% block title %}Mentions Légales{% endblock %}

{% block bodyClassNames %}page-legal_notices{% endblock %}

{% block header_title %}
    <h1>
        Mentions Légales
    </h1>
{% endblock %}

{% block content %}
    Contenue mentions légales
{% endblock %}
