{% extends "layout.jinja" %}
{% set active_page = 'about' %}

{% block title %}MENTION LEGALE{% endblock %}
{% block bodyClassNames %}page-about{% endblock %}

{% block content %}
<html>
<meta  charset="UTF-8">
  <div class="container py-4 page-container-min-height">
    <h1 class="page-title text-center">Mentions légales et copyright</h1>
    
    <h3>Disposition légales - Propriété </h3>

    <p align="justify"> Le fait d'accéder au site ne donne pas le droit de l'utiliser sans l'accord du PNR Luberon représentant les PNR Alpilles, Baronnies provençales, Camargue, Luberon, Mont-Ventoux, Queyras, Préalpes d'Azur, Sainte-Baume et Verdon  tous les droits de reproduction sont réservés en vertu de l'article L.122-4 du code de la Propriété intellectuelle.</p>
    
    <p align="justify">Toute utilisation des ressources (photographiques, iconographiques, textuelles ou relatives a la forme, la mise en page, la structure, les logotypes et les documents téléchargeables...) présentes sur ce site doit faire l'objet d'une autorisation expresse du territoire concerné.</p>
    
    <p align="justify">A titre principal, les parcs naturels régionaux de Provence-Alpes-Côte d'Azur concèdent une autorisation de visualisation du contenu du site.</p>
    
    <h3>Conception et Copyright :</h3>
    
    <p align="justify">Les parcs naturels régionaux de Provence-Alpes-Cote d'Azur s'efforcent de maximiser l'éxactitude des informations mais ne peuvent la garantir ni en établir l'exhaustivité. Les parcs naturels régionaux de Provence-Alpes-Côte d'Azur déclinent donc toute responsabilité en cas d'erreur ou d'omission.</p>
    
    <p align="justify">Les parcs naturels régionaux de Provence-Alpes-Côte d'Azur se réservent le droit de modifier tout ou partie des informations contenues dans les pages de ce site Internet, a tout moment et sans notification préalable.</p>
    
    <p align="justify">Il appartient a l'utilisateur de ce site de prendre toutes les mesures appropriées de façon a protéger ses propres données et ou logiciels de la contamination par d'éventuels virus circulant sur le réseau Internet. De manière générale, les parcs naturels régionaux de Provence-Alpes-Côte d'Azur déclinent toute responsabilité concernant un éventuel dommage survenu pendant la consultation du présent site.</p> 
    
    <p align="justify">Dates de création : Janvier 2023 pour le site.</p>
    
    <p align="justify">Conception et réalisation du site : chargés de mission "paysage" et l'équipe du Système d'Information Territorial (SIT) des Parcs naturels régionaux de la Région Provence-Alpes Côte d'Azur.</p>

    <h3>Cellule technique : </h3>
    
    <p align="justify">Référent chef de projet Paysage : Françoise DELVILLE - PNR Luberon</p>
    
    <p align="justify">Référent développement numérique et administration des données : Philippe ISENMANN (SIT-PNR Camargue) et Raphaël LOISEAU (SIT-Interparc)</p>
    
    <p align="justify">Solution technique : Outil open source GEOPAYSAGES développé par Natural Solutions.</p>
    
    <p align="justify">Crédits logo, pictos et supports de communication :</b> Parcs naturels régionaux de la Région Provence-Alpes Côte d'Azur.</p>
    
  </div>
</html>
{% endblock %}
